<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>EpiCuts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/css/styles.css'>
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
  </head>
  <body>
    @Html.Partial("Header")
    <div class="container well" id='content'>
      @RenderBody()
    </div>
    @Html.Partial("Footer")
  </body>
</html>
