<div class="row footer">
  <div class="col-md-3">
    <a href="/">Return To Home</a>
  </div>
  <div class="col-md-3">
    <a href="/stylists">Show All Stylists</a>
  </div>
  <div class="col-md-3">
    <a href="/specialties">Show All Specialties</a>
  </div>
  <div class="col-md-3">
    <a href="/clients">Show All Clients</a>
  </div>
</div>