@{
  Layout = "_Layout";
}

<h3>Add a new Client</h3>
<div class='col-md-4'></div>
<div class='col-md-4'>
  <form action="/" method="post">
    <input class="form-control" name="first" placeholder="First Name">
    <input class="form-control" name="last" placeholder="Last Name">
    
    <select class="form-control" name="stylist">
      @{
        foreach (var stylist in Model)
        {
          <option value='@stylist.GetId()'>@stylist.GetFirst() @stylist.GetLast()</option>
        }
      }
    </select>

    <button class="form-control bn btn-info">Add Client</button>
  </form>
</div>
<div class='col-md-4'>