@{
  Layout = "_Layout";
}

<div class='col-md-6'>
  <a href="/clients/new">Add a new client</a>
</div>
<div class='col-md-6'>
  <a href="/">Return to Home</a>
</div>

<table class='table table-bordered'>
  <thead>
    <th>Name</th>
    <th>Stylist</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    @foreach (var client in Model)
    {
      var stylist = HairSalon.Models.Stylist.Find(client.GetStylist());
      
      <tr>
        <td>@client.GetFirst() @client.GetLast()</td>
        <td>@stylist.GetFirst() @stylist.GetLast()</td>
        <td><a href='/clients/@client.GetId()/edit'>Edit</a></td>
        <td><a href='/clients/@client.GetId()/delete'>Delete</a></td>
      </tr>
    }
  </tbody>
</table>
