@{
  Layout = "_Layout";
}

<h3>Add a new Specialty</h3>
<div class='col-md-4'></div>
<div class='col-md-4'>
  <form action="/specialties" method="post">
    <input class="form-control" name="name" placeholder="Name">

    <button class="form-control bn btn-info">Add Specialty</button>
  </form>
</div>
<div class='col-md-4'>