body {
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

#content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.well {
  background-color: #222222dd;
}

.header {
  margin: 0px;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  max-height: 50;
  color:#CCC;
  padding-bottom: 12px;
  background-color: #222222;
  overflow: hidden;
  white-space: nowrap;
}

.footer {
  margin: 0px;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  padding:18px;
  padding-bottom: 24px;
  background-color: #222222;
  overflow: hidden;
  white-space: nowrap;
}