@{
  Layout = "_Layout";
}

<div>
  <div class='row'>
    <a href="/stylists"><button class='btn btn-info form-control'>See all stylists</button></a>
  </div>
  <br>
  <div class='row'>
    <a href="/specialties"><button class='btn btn-info form-control'>See all specialties</button></a>
  </div>
  <br>
  <div class='row'>
    <a href="/clients"><button class='btn btn-info form-control'>See all clients</button></a>
  </div>
</div>

