@{
  Layout = "_Layout";
}

<h3>Clients</h3>
<table class='table table-bordered'>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    @foreach (var client in Model["clients"])
    {      
      <tr>
        <td>@client.GetFirst() @client.GetLast()</td>
      </tr>
    }
  </tbody>
</table>

<br>

<h3>Specialties</h3>
<table class='table table-bordered'>
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    @foreach (var client in Model["clients"])
    {      
      <tr>
        <td>@client.GetFirst() @client.GetLast()</td>
      </tr>
    }
  </tbody>
</table>
