@{
  Layout = "_Layout";
}

<div class='col-md-6'>
  <a href="/stylists/new">Add a new stylist</a>
</div>
<div class='col-md-6'>
  <a href="/">Return to Home</a>
</div>

<form action="stylists/search" method="post">
  <div class='col-md-4'></div>
  <div class='col-md-4'>
    <div class='col-md-8'>
      <input class='form-control' name='search' placeholder='Search Stylists'>
    </div>
    <div class='col-md-4'>
      <button class='form-control btn btn-success'>Search</button>
    </div>
  </div>
  <div class='col-md-4'></div>
</form>
<table class='table table-bordered'>
  <thead>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    @foreach (var stylist in Model)
    {      
      <tr>
        <td><a href='/stylists/@stylist.GetId()'>@stylist.GetFirst() @stylist.GetLast()</a></td>
        <td><a href='/stylists/@stylist.GetId()/edit'>Edit</a></td>
        <td><a href='/stylists/@stylist.GetId()/delete'>Delete</a></td>
      </tr>
    }
  </tbody>
</table>
<a href='/stylists/clear'>Delete All</a>