@{
  Layout = "_Layout";
}

<h3>Add a new Stylist</h3>
<form action="/stylists" method="post">
  <input class="form-control" name="first" placeholder="First Name">
  <input class="form-control" name="last" placeholder="Last Name">

  <button class="form-control bn btn-info">Add Stylist</button>
</form>